.cc{
    display: flex;
}
.box {
width: 280px;
margin: 10px;
background-color: aquamarine;
}
/* p{
    position:relative;
    left: 100px;
    margin: 1px;
} */

@media (max-width:500px) {
    .cc{
        display: flex;
        flex-wrap: wrap;
    }
    .box {
        width: 100%;
    }

}