*{
    margin: 0;
    padding: 0;
    /* border: solid 1px; */
}
body::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #027353;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #F2E1D8;
    box-shadow: 0 0 10px;
}
header img{
    width: 100px;
    height: 97px;
}
nav{    padding-top: 36px;
    margin-top: 7px;
    padding-right: 20px;
    
}
nav a{

    color: #F05A28;
    padding: 10px;
    /* margin-right: 10px; */
    text-align: center;
    text-decoration: none;
    font-weight: 700;

}
header a:hover{
/* background-color:aliceblue; */
color: #03A678;
transition: 1s;
font-size: 25px;
}

.another{
    display: flex;
    justify-content:center;
}
a{
    color: #F05A28;
    text-decoration: none;
    font-weight: 700;
}
.boxs1{
    padding-bottom: 10px;
    width: 10%;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #03A678;
    text-align: center;
    margin: 20px;
    display: block;
  
}
.boxs2{
    padding-bottom: 10px;
    width: 10%;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #F2E1D8;
    text-align: center;
    margin: 20px;
    display: block;
  
}
.boxs3{
    padding-bottom: 10px;
    width: 10%;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #03A678;
    text-align: center;
    margin: 20px;
    display: block;
  
}
.boxs4{
    padding-bottom: 10px;
    width: 10%;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #03A678;
    text-align: center;
    margin: 20px;
    display: block;
  
}
.boxs1  a{
    display: block;
    width: 100%;
}
.boxs2 a{
    display: block;
    width: 100%;
}
.boxs3  a{
    display: block;
    width: 100%;
}
.boxs4  a{
    display: block;
    width: 100%;
}
.boxs1:hover{
    transition: 1s;
    background-color: #F2E1D8;
}
.boxs2:hover{
    transition: 1s;
    background-color: #F2E1D8;
}
.boxs3:hover{
    transition: 1s;
    background-color: #F2E1D8;
}
.boxs4:hover{
    transition: 1s;
    background-color: #F2E1D8;
}
.serch{
    margin-left: 30px;
    color: black;
    position: relative;
    left: 56px;
}
.container{
    /* width: 1280px;
    height: 590px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bo{
    margin: auto;
    margin-bottom: 10px;
       box-shadow: 1px 1px 10px 1px ;
   background-color:#F05A28;
       width:90%;
       
       border-radius: 40px;
       
   }
   
   
   .slider-width{
    width: 100%;
    box-shadow: 0px 0px 0px 100px inset;
    box-shadow: 0px 0px 0px 100px #F2E1D8;
    /* height: 660px; */
    display: flex;
    background-color: #F2E1D8;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    position: relative;
    top: 134px;
   
   }
.item{
    width: 500px;
    height: 300px;
    margin-bottom: 20px;
 
} 
.btn-next{
    position: relative;
    left: 1160px;
    bottom:120px;
    height: 50px;
    width: 30px;
}
.btn-prev{
    position: relative;
    bottom:120px;
    right: 10px;
    height: 50px;
    width: 30px;
}
 .url{
    width: 500px;
    height: 300px;
    color: rgb(9, 9, 8);
    text-decoration: none;
    border: solid 3px rgb(241, 145, 11);
    background-color: rgb(241, 145, 11);
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
   font-size: 15px;
   position: relative;
   right: 2000px;
    top: 1000px;
}
/* .background-color{
    width: 300px;height: 200px;
    position: relative;
    right: 2000px;
    background-color: rgb(175, 177, 177);
} */
.item:hover .url{
   transition: 1s;
    top: -0px;
    left: 15px;
}
/* .item:hover .background-color{
    opacity: 0.5;
    right: -202px;
    bottom: 200px;
 } */
 .url:hover{
    background-color: rgb(65, 96, 12);
    border-color:rgb(65, 96, 12) ;
    color: aliceblue;
    transition: 11s ;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
 }
h3{  
    color:  #F2E1D8;
    background-color: #027353;
    font-size: 30px;
   position: relative;
   left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}
p{ position: relative;
    top: 49px;
    color: #F2E1D8;
    font-size: 45px;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.click1{
    border-radius: 30px;
    display: block;
    width: 30%;
    background-color: #F2E1D8;
    /* padding: 10px; */
    padding-top: 20px;
    text-align: center;
    position: relative;
    bottom: 100px;
    left: 55%;
    opacity: 0.5;
    padding-bottom: 15px;
}
.click1:hover{
    height: 40px;
    width: 230px;
    background-color:transparent ;
    border: solid 3px #F2E1D8;
    opacity:1;
}
h1{
   
    margin-left: 30px;

    color:#03A678;
    font-size: 100px;
    font-family:Microsoft JhengHei ;
}
img {
    width: 100%;
    height: 200px;
    position: relative;
    top: 2px;
}
.all{
    width: 100%;
}
/* @media (max-width:600px) {
    .bo{
        width: 100%;
    }
    .click1{
        left: 63px;
    }
    .slider-width{
        flex-wrap: wrap;
       
        
       
        box-shadow: 0px 0px 0px 100px #F2E1D8;
        height: 1070px;
        background-color: #F2E1D8;
      
       
    }
    .item{
        width: 100%;
        position: relative;
        left: 278px;
    }
} */